.ex-weekpicker-form-control{
    position:relative;
}

.ex-weekpicker{
    background-color:white;
}

.blue_btn{
    border-radius: 1px;
    overflow: hidden;
    border-left: 1px solid #ddd; 
    text-align: center;
}

.bt{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    width:70px;
}

.set{
    margin-left:10px;
}

.clear{
    margin-right:10px;
}
.get{
    margin-right:10px;
    margin-left:10px;
}
.extended-set{
    margin-left:20px;
}

.extended-clear{
    margin-right:20px;
}

.extended-get{
    margin-right:20px;
    margin-left:20px;
}

.ex-weekpicker-input{
    display: inline-block;
    position:relative;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.ex-weekpicker-controlpanel{
    left:50%;
    position: relative;
    margin-left: -100px;
    border: 1px solid white;
    display: inline-block;
}

.ex-weekpicker-form-controller{
    display:inline-block;
    width:90px;
    height:25px;
    text-align:center;
}

select > option{
    font-size:18px;
}

.ex-weekpicker-controlButton-left{
    background-color:white;
    display:inline-block;
    height:28px;
    margin-right:10px;
    
}

.ex-weekpicker-controlButton-right{
    background-color:white;
    display:inline-block;
    height:28px;
    margin-left:10px;
 
}

.ex-weekpicker-yearchange{
    display: inline-block;
    font-size:15px;
    width:60px;
    height:25px;
    text-align:center;
}

.ex-weekpicker-weekSelect:hover{
    background-color:gainsboro!important;
}
.ex-weekpicker-weekSelect{
    font-family:Arial;
}
.ex-weekpicker-weekSelect:active{
    background-color:lightgray !important;
}

.clicked{
    background-color:#ededed;
    border: 1px solid #cccccc;
    color: #2b2b2b;
}

.setted{
    background-color:blue !important;
    color:white !important;
    border: 1px solid black;
}

.today{
    background-color:#fffa90 !important;
    color:#777620 !important;
    border:1px solid #dad55e;
};

td[name='day']{
    border: 1px solid #c5c5c5;
    background-color:#f6f6f6;
    font-weight: normal;
    color: #454545;
    text-align:right;
    padding: 0.2em;
    text-decoration:none;
}